<div class="card sidebar-card">
    <div class="header">
        <h4><b>{{currentdaydate|date:'MMM d, y'}}</b></h4>
    </div>
    <div class="sidebar_date">
        <p>{{competition_name}}</p>
    </div>
    <div class="card sidebar-card" *ngFor="let item of match_ground_details">

        <div class="card-body sidebar-card-body theme-hover" *ngFor="let item_details of item.group|orderBy:'time';let j = index">
            <div class="list-cursor" *ngIf="match_ground_details.length>0" (click)="matchdetails(item_details.id)">

                <div class="r-dashbord-team">
                    <div class="col-md-5 col-sm-5 col-xs-5 match-team-group">
                        <div class="numerType">
                            <!-- Live -->
                            <div *ngIf="item_details.status!=='FT' && item_details.status!=='Pen.' && item_details.status!=='AET' && item_details.status!=='Postp.' && item_details.status!=='' ;else offlineTime2">
                                <div *ngIf="item_details.live_status;else offlineTime2">
                                    <div *ngIf="item_details.status=='' ;else status2">
                                        <p class="match_time theme-color">{{item_details.time|date:'hh:mm a'}}</p>
                                    </div>
                                    <ng-template #status2>
                                        <div *ngIf="item_details.status=='HT' ;else second2 || item_details.status=='FT' ;else second2">
                                            <p class="match_time theme-color">{{item_details.status}}</p>
                                        </div>

                                        <ng-template #second2>
                                            <p class="match_time theme-color">{{item_details.status}}'</p>
                                        </ng-template>
                                    </ng-template>
                                </div>
                            </div>
                            <!--end  Live -->

                            <!-- offline -->
                            <ng-template #offlineTime2>
                                <div *ngIf="item_details.status!=='FT' && item_details.status!=='Pen.' && item_details.status!=='AET' && item_details.status!=='Postp.' ;else time2">
                                    <p class="match_time">{{item_details.time|date:'hh:mm a'}}</p>
                                </div>
                                <ng-template #time2>
                                    <p class="match_time">{{item_details.status}}</p>
                                </ng-template>

                            </ng-template>
                            <!--end offline -->
                        </div>
                    </div>


                    <div class="col-md-6 col-sm-6 col-xs-6 r-flag-team">
                        <!-- Live -->
                        <div *ngIf="item_details.live_status;else offlineTeam2">
                            <p [class.text-bold]="item_details.localteam_score>= item_details.visitorteam_score && item_details.localteam_score!==''">
                                <span *ngIf="item_details.localteam_score !==''" class="score"> {{item_details.localteam_score}}
                                    </span> {{item_details.localteam_name}}
                            </p>
                            <p [class.text-bold]="item_details.visitorteam_score >= item_details.localteam_score && item_details.visitorteam_score!==''">
                                <span *ngIf="item_details.visitorteam_score !==''" class="score">
                                                        {{item_details.visitorteam_score}} 
                                                  </span>{{item_details.visitorteam_name}}
                            </p>
                        </div>
                        <!--end Live -->

                        <!-- offline  -->
                        <ng-template #offlineTeam2>
                            <p [class.text-bold]="item_details.localteam_score>= item_details.visitorteam_score && item_details.localteam_score!==''">
                                <span *ngIf="item_details.status==='FT'  || item_details.status==='Pen.' ||  item_details.status==='AET' || item_details.status==='Postp.' && item_details.localteam_score!==''" class="score">
                                      {{item_details.localteam_score}}
                                    </span>{{item_details.localteam_name}}
                            </p>
                            <p [class.text-bold]="item_details.visitorteam_score >= item_details.localteam_score && item_details.visitorteam_score!==''">
                                <span *ngIf="item_details.status==='FT' || item_details.status==='Pen.' || item_details.status==='AET'  || item_details.status==='Postp.' && item_details.visitorteam_score !==''" class="score">
                                          {{item_details.visitorteam_score}} 
                                      </span>{{item_details.visitorteam_name}}
                            </p>
                        </ng-template>
                        <!--end offline  -->
                        <div *ngIf="item_details.lats_score_local !==undefined && item_details.lats_score_vist || item_details.penalty_localvist" class="col-xs-12 agg_pen" id="agg_pen_responsve">
                            <ul>
                                <li *ngIf="item_details.lats_score_local !==undefined && item_details.lats_score_vist">(AGG {{item_details.lats_score_local}}-{{item_details.lats_score_vist}})</li>
                                <li *ngIf="item_details.penalty_localvist">(PEN {{item_details.penalty_local}}-{{item_details.penalty_visitor}})</li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-md-1 col-sm-1 col-xs-1 circle">
                        <div *ngIf="item_details.status!=='FT' && item_details.status!=='Pen.' && item_details.status!=='AET'&& item_details.status!==''">
                            <div *ngIf="item_details.live_status" class="live_badge">
                                <span class="status_offon">LIVE</span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="list-cursor" *ngIf="match_ground_details.length<=0">
        <div class="card-body sidebar-card-body sidebar-nomatche">
            <div class="col-md-12 col-sm-12 col-xs-12  match-team-group">
                <div class="list-line">
                    <p>No Matches today</p>
                </div>
            </div>
        </div>
    </div>
</div>